body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #eee;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    color: #ccc;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
}

button {
    background-color: #9c27b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    color: #9c27b0;
}

a:hover {
    cursor: pointer;
}

button:hover {
    background-color: #7b1fa2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}